<div class="panel panel-default" data-message-id="<%= message.id %>">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-1">
        <div class="voting_area" data-voteable-item="Message<%= message.id %>">
          <%= render partial: "votes/voting_area", object: message, as: 'voteable', locals: {} %>
        </div>
      </div>
      <div class="col-xs-11">
        <%= link_to message.smart_title, message_path(message), class: "message_title" %>
        <div><%= simple_format(truncate(message.body, length: 50, separator: ' ')) %></div>
        <div>
          <%= link_to message.user.smart_name, community_user_path(message.user.id) %>&nbsp;&nbsp;
          <span class="message_score"><%= "#{pluralize(Vote.item_score(message), 'point')}" %></span>&nbsp;&nbsp;
          <span class="time_ago"><%= time_ago_in_words(message.created_at) %> ago</span>
        </div>
      </div>
    </div>
  </div>
</div>
