<%= form_for(@workout) do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.text_field :label, {placeholder: "Name", class: "form-control", disabled: (defined?(disable_fields) && disable_fields.present?)} %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.select(:workout_type, [['Type', ''], ['Strength', 'strength'], ['Power', 'power'], ['Power Endurance', 'powerendurance'], ['Endurance', 'endurance'], ['Technique', 'technique'], ['Cardio', 'cardio']], {}, {class: "form-control", disabled: (defined?(disable_fields) && disable_fields.present?)}) %>
      </div>
    </div>
    <div class="col-xs-4 text-right">
      <% unless defined?(disable_fields) && disable_fields.present? %>
        <input type="submit" class="btn btn-success margin_bottom" value="Save Workout">
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.text_area :description, {placeholder:"Description", class: "form-control", size: "60x3", disabled: (defined?(disable_fields) && disable_fields.present?)} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Exercises</h4>
      <div class="table-responsive" <% unless defined?(disable_fields) && disable_fields.present? %> id="workout_form_exercises"<% end %>>
        <table class="table table-striped exercise_list <% unless defined?(disable_fields) && disable_fields.present? %>droppable_table sortable_table<% end %>">
          <thead>
            <tr>
              <th>Exercise</th>
              <th class="text-right">Options</th>
              <th class="text-right">Sets</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @workout.workout_exercises_ordered.each do |workout_exercise| %>
              <tr>
                <td>
                  <%= workout_exercise.exercise.label %>
                  <input name="workout_exercises[][id]" type="hidden" value="<%= workout_exercise.id %>"/>
                </td>
                <td>
                  <% workout_exercise.workout_metrics.ordered_by_metric.each do |workout_metric| %>
                    <%= render partial: 'workout_metric', locals: {workout_metric: workout_metric, disabled: defined?(disable_fields) ? disable_fields : false} %>
                  <% end %>
                </td>
                <td class="text-right">
                  <input class="form-control inline_block" type="number" name="workout_exercises[][reps]" value="<%= workout_exercise.reps %>" <%= defined?(disable_fields) && disable_fields.present? ? 'disabled="disabled"' : '' %>/>
                </td>
                <td class="text-right">
                  <% unless defined?(disable_fields) && disable_fields.present? %>
                    <a href="javascript:void(0);" class="remove_table_row btn btn-danger">Remove</a>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <% unless @workout.workout_exercises_ordered.present? %>
              <tr class="placeholder_row">
                <td colspan="4" class="text-center">Drag your exercises here and then rearrange them as you need.</td>
              </tr>
            <% end %>
            <tr class="push_row" style="height: 100px"></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-right">
      <% unless defined?(disable_fields) && disable_fields.present? %>
        <input type="submit" class="btn btn-success margin_bottom" value="Save Workout">
      <% end %>
    </div>
  </div>
<% end %>
