<div class="col-md-4 col-sm-6 margin_bottom">
  <div class="panel<%= workout.panel_class %>">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9">
          <h3 class="panel-title">
            <%= link_to simple_format(truncate(workout.label, length: 30)), workout_path(workout) %>
          </h3>
        </div>
        <div class="col-xs-3 text-right">
          <span class="voting_area voting_area_button_small" data-voteable-item="Workout<%= workout.id %>">
            <%= render partial: "votes/voting_area", object: workout, as: 'voteable', locals: {version: "button_small"} %>
          </span>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <%= simple_format(truncate(workout.description, length: 50, separator: ' ')) %>
    </div>
    <div class="panel-footer text-right">
      <% if current_user.students.present? %>
        <%= link_to "Assign", workout_assign_path(workout), remote: true, class: "btn btn-sm btn-default" %>
      <% end %>
      <%= link_to "Duplicate", workout_duplicate_path(workout), remote: true, class: "btn btn-sm btn-success" %>
      <%= link_to "Edit", edit_workout_path(workout), class: "btn btn-sm btn-info" %>
      <%= link_to "Share", new_item_share_path(item_type: "Workout", item_id: workout.id), remote: true, class: "btn btn-sm btn-warning" %>
      <%= link_to "Delete", workout_delete_path(workout), remote: true, class: "btn btn-sm btn-danger" %>
    </div>
  </div>
</div>
