<div class="form-goup text-right">
  <label>
    <%= workout_metric.exercise_metric.label %>
    <% if workout_metric.exercise_metric.exercise_metric_type.slug == "weight" %>
      (<%= current_user.default_weight_unit %>s)
    <% elsif workout_metric.exercise_metric.exercise_metric_type.slug == "time" %>
      (seconds)
    <% end %>
  </label>
  <input name="workout_exercises[][workout_metrics][][id]" type="hidden" value="<%= workout_metric.id %>"/>
  <% if workout_metric.exercise_metric.exercise_metric_type.input_field == "select" %>

    <select name="workout_exercises[][workout_metrics][][value]" class="form-control inline_block"
    <% if defined?(disabled) && disabled.present? %>disabled="disabled"<% end %>>
      <% if workout_metric.exercise_metric.exercise_metric_type.slug == "hold-type" %>
        <%= options_from_collection_for_select(workout_metric.exercise_metric.exercise_metric_options, :value, :label, workout_metric.value) %>
      <% elsif workout_metric.exercise_metric.exercise_metric_type.slug == "boulder-grade" %>
        <%= options_for_select(@boulder_grades, workout_metric.value) %>
      <% elsif workout_metric.exercise_metric.exercise_metric_type.slug == "sport-grade" %>
        <%= options_for_select(@sport_grades, workout_metric.value) %>
      <% end %>
    </select>
  <% elsif workout_metric.exercise_metric.exercise_metric_type.input_field == "range" %>
    <div class="col-sm-9 pull-right">
      <div class="row slider_container">
        <div class="col-xs-9 no_padding_right">
          <input type="range"
                 name="workout_exercises[][workout_metrics][][value]"
                 min="0"
                 max="100"
                 step="5"
                 value="<%= workout_metric.value.present? ? workout_metric.value : 0 %>"
                 class="completion_slider"
                 <% if defined?(disabled) && disabled.present? %>disabled="disabled"<% end %>/>
        </div>
        <div class="col-xs-3">
          <span class="slider_value_wrapper alt_font"><span class="slider_value"><%= workout_metric.value.present? ? workout_metric.value : 0 %></span>%</span>
        </div>
      </div>
    </div>
  <% else %>
      <input class="form-control inline_block"
             name="workout_exercises[][workout_metrics][][value]"
             type="<%= workout_metric.exercise_metric.exercise_metric_type.input_field %>"
             value="<%= workout_metric.value %>"
             placeholder="Baseline Value"
             <% if defined?(disabled) && disabled.present? %>disabled="disabled"<% end %>/>
  <% end %>
</div>
