<%= form_for(@climb, remote: true) do |f| %>
  <div class="modal-body">
    <ul class="errors"></ul>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= f.label :location %><br>
          <%= f.text_field :location, class: "form-control location_field" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= f.label :outdoor %><br>
          <%= f.check_box :outdoor, class: "outdoor_checkbox" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :climb_type %><br>
          <%= f.select(:climb_type, [['Boulder', 'boulder'], ['Sport', 'sport'], ['Trad', 'trad']], {}, {class: "form-control type_select"}) %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :grade %><br>
          <% if @climb.climb_type == "sport" || @climb.climb_type == "trad" %>
            <%= f.select(:grade, @boulder_grades, {}, {class: "form-control boulder_grades hidden", disabled: true}) %>
            <%= f.select(:grade, @sport_grades, {}, {class: "form-control sport_grades"}) %>
          <% else %>
            <%= f.select(:grade, @boulder_grades, {}, {class: "form-control boulder_grades"}) %>
            <%= f.select(:grade, @sport_grades, {}, {class: "form-control sport_grades hidden", disabled: true}) %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <%= f.label :length %><br>
          <%= f.number_field :length, class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= f.label :length_unit %><br>
          <%= f.select(:length_unit, [['Feet', 'feet'], ['Meters', 'meters']], {}, {class: "form-control"}) %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label "Characteristics" %><br>
          <div class="row">
            <div class="col-xs-6">
              <%= f.check_box :crimpy %>
              <%= f.label :crimpy %><br>
              <%= f.check_box :slopey %>
              <%= f.label :slopey %><br>
              <%= f.check_box :pinchy %>
              <%= f.label :pinchy %><br>
              <%= f.check_box :pockety %>
              <%= f.label :pockety %>
            </div>
            <div class="col-xs-6">
              <%= f.check_box :powerful %>
              <%= f.label :powerful %><br>
              <%= f.check_box :endurance %>
              <%= f.label :endurance %><br>
              <%= f.check_box :technical %>
              <%= f.label :technical %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <%= f.label :notes %><br>
          <%= f.text_area :notes, class: "form-control", size: "60x12" %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <input type="submit" class="btn btn-primary" value="Save">
  </div>
<% end %>
