<%= form_for(@article) do |f| %>
  <div class="modal-body">
    <ul class="errors"></ul>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :title %><br>
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :publish_date %><br>
          <%= select_month(@article.publish_date.present? ? @article.publish_date.month : DateTime.now, {field_name: "month"}, {class: "form-control", style: "display: inline-block; width: auto;"}) %>
          <%= select_day(@article.publish_date.present? ? @article.publish_date.day : DateTime.now, {field_name: "day"}, {class: "form-control", style: "display: inline-block; width: auto;"}) %>
          <%= select_year(@article.publish_date.present? ? @article.publish_date.year : DateTime.now, {field_name: "year"}, {class: "form-control", style: "display: inline-block; width: auto;"}) %>
        </div>
      </div>
      <div class="col-sm-4 text-right">
        <input type="submit" class="btn btn-success btn-lg" value="Save">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <%= f.label :body %><br>
          <%= f.text_area :body, class: "form-control", id: "editor", size: "60x40" %>

        </div>
      </div>
    </div>
  </div>
<% end %>
