<%= form_for(@macrocycle) do |f| %>
  <div class="row margin_bottom">
    <div class="col-sm-6">
      <%= f.text_field :label, {placeholder: "Name", class: "form-control margin_right", style: "display: inline-block; width: auto;"} %>
      <input type="submit" class="btn btn-primary" value="<% if @macrocycle.id.present? %>Update<% else %>Create<% end %> Template">
    </div>
    <div class="col-sm-6">
      <%= select :event, :nice_start_date, Event.mondays.map{|m| [m.strftime("(%a) %b %d, %Y"), m.strftime("%Y-%m-%d")]}, {include_blank: "Start Date"}, {class: "form-control margin_right", style: "display: inline-block; width: auto;"} %>
      <input type="submit" class="btn btn-success" value="<% if @macrocycle.id.present? %>Update<% else %>Create<% end %> and Add to Schedule">
    </div>

  </div>
  <div class="col-xs-12 calendar margin_bottom">
    <div class="row calendar_days_header">
      <div class="col-xs-1 calendar_day">
        <h5>Day 1</h5>
      </div>
      <div class="col-xs-1 calendar_day">
        <h5>Day 2</h5>
      </div>
      <div class="col-xs-1 calendar_day">
        <h5>Day 3</h5>
      </div>
      <div class="col-xs-1 calendar_day">
        <h5>Day 4</h5>
      </div>
      <div class="col-xs-1 calendar_day">
        <h5>Day 5</h5>
      </div>
      <div class="col-xs-1 calendar_day">
        <h5>Day 6</h5>
      </div>
      <div class="col-xs-1 calendar_day">
        <h5>Day 7</h5>
      </div>
    </div>

    <% for week in 1..@macrocycle.duration_weeks %>
      <div class="row row-eq-height calendar_week" data-week=1>
        <% for day in 1..7 %>
          <div class="col-xs-1 calendar_day">
            <% if @macrocycle.workouts_by_day[(week-1)*7 + day].present? %>
              <% @macrocycle.workouts_by_day[(week-1)*7 + day].each do |macrocycle_workout| %>
                <div class="planner_workout alert<%= macrocycle_workout.workout.alert_class %>" data-workout-id="<%= macrocycle_workout.workout.id %>" data-macrocycle-workout-id="<%= macrocycle_workout.id %>">
                  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <%= macrocycle_workout.workout.label %>
                </div>
              <% end %>
            <% end %>
            <%= hidden_field_tag "weeks[#{week}]days[#{day}]workouts[][id]", '', class: "workout_ids" %>
            <%= hidden_field_tag "weeks[#{week}]days[#{day}]workouts[][macrocycle_workout_id]", '', class: "macrocycle_workout_ids" %>
            <%= hidden_field_tag "weeks[#{week}]days[#{day}]workouts[][event_id]", '', class: "workout_event_ids" %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
  <div class="text-right">
    <a href="javascript:void(0);" class="btn btn-default calendar_add_week">Add Week</a>
  </div>
<% end %>
