<%= form_for(@macrocycle) do |f| %>
  <h1 class="inline_block valign_middle margin_right">Create Plan</h1>
  <%= f.text_field :label, {placeholder: "Name", class: "form-control valign_middle margin_top margin_right", style: "display: inline-block; width: auto;"} %>
  <%= select :event, :nice_start_date, Event.mondays.map{|m| [m.strftime("(%a) %b %d, %Y"), m.strftime("%Y-%m-%d")]}, {include_blank: "Start Date"}, {class: "form-control valign_middle margin_top margin_right", style: "display: inline-block; width: auto;"} %>
  <input type="submit" class="btn btn-success margin_top margin_right btn-wide" value="Create">
  <p>Plan your long-term set of workouts and choose a start date to create events for each workout.</p>
  <div class="col-xs-12 calendar margin_bottom">
    <div class="row calendar_days_header">
      <div class="col-xs-1 calendar_day">
        <h5>Mon</h5>
      </div>
      <div class="col-xs-1 calendar_day">
        <h5>Tue</h5>
      </div>
      <div class="col-xs-1 calendar_day">
        <h5>Wed</h5>
      </div>
      <div class="col-xs-1 calendar_day">
        <h5>Thu</h5>
      </div>
      <div class="col-xs-1 calendar_day">
        <h5>Fri</h5>
      </div>
      <div class="col-xs-1 calendar_day">
        <h5>Sat</h5>
      </div>
      <div class="col-xs-1 calendar_day">
        <h5>Sun</h5>
      </div>
    </div>

    <div class="row row-eq-height calendar_week" data-week=1>
      <div class="col-xs-1 calendar_day">
        <%= hidden_field_tag 'weeks[1]days[1]workouts[][id]', '', class: "workout_ids" %>
        <%= hidden_field_tag 'weeks[1]days[1]workouts[][event_id]', '', class: "workout_event_ids" %>
      </div>
      <div class="col-xs-1 calendar_day">
        <%= hidden_field_tag 'weeks[1]days[2]workouts[][id]', '', class: "workout_ids" %>
        <%= hidden_field_tag 'weeks[1]days[2]workouts[][event_id]', '', class: "workout_event_ids" %>
      </div>
      <div class="col-xs-1 calendar_day">
        <%= hidden_field_tag 'weeks[1]days[3]workouts[][id]', '', class: "workout_ids" %>
        <%= hidden_field_tag 'weeks[1]days[3]workouts[][event_id]', '', class: "workout_event_ids" %>
      </div>
      <div class="col-xs-1 calendar_day">
        <%= hidden_field_tag 'weeks[1]days[4]workouts[][id]', '', class: "workout_ids" %>
        <%= hidden_field_tag 'weeks[1]days[4]workouts[][event_id]', '', class: "workout_event_ids" %>
      </div>
      <div class="col-xs-1 calendar_day">
        <%= hidden_field_tag 'weeks[1]days[5]workouts[][id]', '', class: "workout_ids" %>
        <%= hidden_field_tag 'weeks[1]days[5]workouts[][event_id]', '', class: "workout_event_ids" %>
      </div>
      <div class="col-xs-1 calendar_day">
        <%= hidden_field_tag 'weeks[1]days[6]workouts[][id]', '', class: "workout_ids" %>
        <%= hidden_field_tag 'weeks[1]days[6]workouts[][event_id]', '', class: "workout_event_ids" %>
      </div>
      <div class="col-xs-1 calendar_day">
        <%= hidden_field_tag 'weeks[1]days[7]workouts[][id]', '', class: "workout_ids" %>
        <%= hidden_field_tag 'weeks[1]days[7]workouts[][event_id]', '', class: "workout_event_ids" %>
      </div>
    </div>

  </div>
  <div class="text-right">
    <a href="javascript:void(0);" class="btn btn-default calendar_add_week">Add Week</a>
  </div>
<% end %>
