<div class="col-md-4 col-sm-6 margin_bottom">
  <div class="panel<%= macrocycle.panel_class %>">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9">
          <h3 class="panel-title">
            <%= link_to simple_format(truncate(macrocycle.label, length: 30)), macrocycle_path(macrocycle) %>
          </h3>
        </div>
        <div class="col-xs-3 text-right">
          <span class="voting_area voting_area_button_small" data-voteable-item="Macrocycle<%= macrocycle.id %>">
            <%= render partial: "votes/voting_area", object: macrocycle, as: 'voteable', locals: {version: "button_small"} %>
          </span>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <%= pluralize(macrocycle.duration_weeks, 'Week') %>
    </div>
    <div class="panel-footer text-right">
      <% if current_user.students.present? %>
        <%= link_to "Assign", macrocycle_assign_path(macrocycle), remote: true, class: "btn btn-sm btn-default" %>
      <% end %>
      <%= link_to "Duplicate", macrocycle_duplicate_path(macrocycle), remote: true, class: "btn btn-sm btn-success" %>
      <%= link_to "Edit", edit_macrocycle_path(macrocycle), class: "btn btn-sm btn-info" %>
      <%= link_to "Share", new_item_share_path(item_type: "Macrocycle", item_id: macrocycle.id), remote: true, class: "btn btn-sm btn-warning" %>
      <%= link_to "Delete", macrocycle_delete_path(macrocycle), remote: true, class: "btn btn-sm btn-danger" %>
    </div>
  </div>
</div>
