<div class="row">
  <div class="col-xs-12">
    <h1>Plan Templates</h1>
    <p class="lead">You can create and alter multi-week training cycle templates that can be reused multiple times.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <%= form_tag("/macrocycles", method: "get", remote: true, class: "form-inline margin_top" ) do %>
      <strong>Filter by:</strong>
      <div class="form-group margin_left">
        <%= select_tag(:macrocycle_type, options_for_select([['Type', ''], ['Bouldering', 'boulder'], ['Sport Climbing', 'sport']]), class: "form-control") %>
      </div>
      <%= submit_tag("Filter", class: "btn btn-default margin_left") %>
    <% end %>
  </div>
  <div class="col-xs-4 text-right">
    <%= link_to raw("<span class='glyphicon glyphicon-plus'></span> Add Plan"), new_macrocycle_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

<div class="macrocycle_list margin_top">
  <%= render "index" %>
</div>

<!-- Modal -->
<div class="modal fade" id="macrocycle_modal" tabindex="-1" role="dialog" aria-labelledby="macrocycleModal">

</div>

<div class="modal fade" id="item_share_modal" tabindex="-1" role="dialog" aria-labelledby="itemShareModal">

</div>
