<tr data-user-id="<%= user.id %>">
  <td><%= user.id %></td>
  <td><%= user.email %></td>
  <td><%= user.first_name %> <%= user.last_name %></td>
  <td class="text-right">
    <% unless true_user == user %>
      <%= link_to "Impersonate", user_impersonate_path(user), class: "btn btn-info" %>
    <% end %>
  </td>
</tr>
