<div class="row">
  <div class="col-xs-12">
    <h1>What's Happening</h1>
  </div>
</div>

<div class="row">
  <% if @activities.each_with_index do |activity, index| %>
    <div class="col-md-3 col-sm-6 margin_bottom">
      <div class="panel panel-default %>">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9">
              <h3 class="panel-title">
                <%= truncate(activity[:label], length: 22) %>
              </h3>
            </div>
            <div class="col-xs-3 text-right">
              <% if activity[:item].present? && activity[:disable_votes].blank? %>
                <span class="voting_area voting_area_button_small" data-voteable-item="<%= activity[:item].class.name %><%= activity[:item].id %>">
                  <%= render partial: "votes/voting_area", object: activity[:item], as: 'voteable', locals: {version: "button_small"} %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <%= activity[:description].html_safe %>
        </div>
        <div class="panel-footer text-right">
          <% if activity[:custom_link].present? %>
            <%= link_to "View", activity[:custom_link], class: "btn btn-info" %>
          <% elsif activity[:item].present? %>
            <%= link_to "View", activity[:item], class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
    <% if index % 4 == 3 %>
      </div><div class="row">
    <% end %>
  <% end.empty? %>
    <div class="well text-center">You have no activity to display :(</div>
  <% end %>
</div>


<div class="row">
  <% if @goals.present? %>
    <div class="col-xs-6">
      <h3>Goals</h3>
      <div class="row">
        <% @goals.each_with_index do |goal, index| %>
          <%= render partial: 'goals/goal', object: goal, locals: {show_buttons: false, columns: 2} %>
          <% if index % 4 == 3 %>
            </div><div class="row">
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="col-sm-6">
    <h3>Recent Progress</h3>
    <% if current_user.should_show_climb_data? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Best Climbs</h3>
        </div>
        <div class="panel-body">
            <div class="build_line" <% current_user.climb_graph_data.each_with_index do |line_data, index| %>
                                        data-primary-name-<%= index %> = "<%= line_data[:name] %>"
                                        data-primary-value-<%= index %> = "<%= line_data[:value] %>"
                                        data-primary-tooltip-value-<%= index %> = "<%= line_data[:tooltip_value] %>"
                                    <% end %>></div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-xs-10">
          <div class="well">
            <%= link_to "Add more climb data to view your climbing progress!", climbs_path %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
