<div class="row large_margin_bottom">
  <div class="col-xs-12">
    <h1>Plan/Train/Climb Privacy Policy</h1>
  </div>
</div>

<div class="row large_margin_bottom">
  <div class="col-xs-12">

    <p>
        <!-- The Plan/Train/Climb application and the associated Plan/Train/Climb website available at www.plantrainclimb.com ("Plan/Train/Climb") are owned and operated by Plan/Train/Climb, Inc. ("us" "we" or "our").--> The Plan/Train/Climb application and website provide a platform where you can build a climbing training plan and track your climbing progress in order to determine the effectiveness of your workouts. This Plan/Train/Climb Privacy Policy (the "Privacy Policy") is intended to inform you of our policies and practices regarding the collection, use and disclosure of any information submitted to us or collected through your use of Plan/Train/Climb.
    </p>

    <h2>Types of Information</h2>
    <p>
        The information addressed in this Privacy Policy includes "Personal Information," which is information about you that is personally identifiable such as your full name or e-mail address as well as "Non-Identifiable Information," which is non-public information that may be associated with or linked to a specific Plan/Train/Climb account but does not by itself permit the identification of individual persons (e.g., demographic, interests, or site usage information). This Privacy Policy does not pertain to any information that is publicly available on or through Plan/Train/Climb.
    </p>

    <h2>Consent by Accessing Plan/Train/Climb</h2>
    <p>
        By accessing or otherwise using Plan/Train/Climb, you agree to the terms and conditions of this Privacy Policy and the associated Terms of Service (set forth on <a href="<%= url_for controller: '/home', action: 'terms_of_service' %>"><%= url_for controller: '/home', action: 'terms_of_service', :only_path => false %></a>). You expressly consent to the processing of your Personal Information and Non-Identifiable Information according to this Privacy Policy.  Your Personal Information may be processed by us in the country where it was collected as well as other countries (including the United States) where laws regarding processing of Personal Information may be less stringent than the laws in your country.
    </p>

    <h2>Our Policies Regarding Children</h2>
    <p>
        When it comes to the collection of personal information from children under 13, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation's consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online. We do not specifically market to children under 13.
    </p>

    <h2>Information You Submit to Plan/Train/Climb</h2>
    <p>
        In general, we collect both Personal Information and Non-Identifiable Information that you submit to us voluntarily through Plan/Train/Climb. We collect information that you submit in the process of creating or editing your account and user profile on Plan/Train/Climb. For example, our registration and login process requires you to provide us with a valid email address and a password of your choice. When you personalize your profile and use the features of Plan/Train/Climb, we will collect any information you voluntarily provide, and we may also request optional information to support your use of Plan/Train/Climb, including such Non-Identifiable Information as your year of birth, gender and other demographic information. We also collect information in the form of the content that you submit during your use of Plan/Train/Climb, such as workouts, climbs, and other information you choose to submit, including information from other social networks that you choose to link to your Plan/Train/Climb profile.
    </p>
    <p>
        If you send an e-mail to us, or fill out our "Comment" form through Plan/Train/Climb, we will collect your e-mail address and the full content of your e-mail, including attached files, and other information you provide. Additionally, we collect any information that you voluntarily enter, including Personal Information, into any postings, comments, or forums within the Plan/Train/Climb community.
    </p>

    <h2>Our Use of Technology and Your Privacy</h2>
    <p>
        As you use Plan/Train/Climb, certain information may be collected from you through our use of technology, including your Internet protocol address, browser type, and operating system. In connection with your use of the Plan/Train/Climb Application through a mobile device, we may also gather information from your mobile device including its unique identification number and your geographic location. We also use Cookies and navigational data like Uniform Resource Locators (URL) to gather information regarding the date and time of your visit and the products, solutions and information for which you searched and viewed, or on which of the advertisements displayed on Plan/Train/Climb you clicked. This type of information is collected to help us compile aggregate data about site traffic and Site interaction so that we can offer better Site experiences and tools in the future.
    </p>
    <p>
        An "Internet protocol address" or "IP Address" is a number that is automatically assigned to your computer when you use the Internet. In some cases your IP Address stays the same from browser session to browser session; but if you use a consumer internet access provider, your IP Address may vary from session to session. We, or our service providers, may track your IP Address when you access Plan/Train/Climb to assist with ad targeting.
    </p>
    <p>
        "Cookies" are small files that a site or its service provider transfers to your computer’s hard drive through your Web browser (if you allow) that enables a site or service provider’s systems to recognize your browser and capture certain information. You can choose to have your computer warn you each time a Cookie is being sent, or you can choose to turn off all Cookies. You do this through your browser (like Internet Explorer, Safari or Google Chrome) settings. Each browser is a little different, so look at your browser Help Menu to learn the correct way to modify your Cookies. If you turn Cookies off, you may not have access to many features that make your Plan/Train/Climb experience more efficient and some of our services may not function properly.
    </p>
    <p>
        We may also enable third-party advertising networks, advertisers and ad servers to promote third-party products and/or services by placing advertisements on Plan/Train/Climb. These advertisers and ad servers may use their own Cookies and/or "Web Beacons" (which are usually small, transparent graphic images) in order to monitor information related to those advertisements and your use of Plan/Train/Climb. Clicking on such advertisements will direct you to the website of a third-party and the advertiser. This Privacy Policy does not cover the privacy practices of any advertisers or ad servers. For more information about third-party advertising, and to exercise your choices regarding advertising customization by third-party ad networks, visit the Network Advertising Initiative website. (<a href="http://www.networkadvertising.org/managing/opt_out.asp" target="_blank">www.networkadvertising.org/managing/opt_out.asp</a>) Plan/Train/Climb Use of Information
    </p>
    <p>
        In general, both the Personal Information and Non-Identifiable Information you submit to us is used to provide you access to Plan/Train/Climb, to improve Plan/Train/Climb, to better tailor the features, performance, and support of Plan/Train/Climb and to offer you additional information, opportunities, promotions and functionality from us, our partners or our advertisers. For example, we may use and display your full name and email address when you send an email notification to a friend through Plan/Train/Climb or the social network from which you have connected to Plan/Train/Climb (such as in an invitation or when sharing your content).
    </p>
    <p>
        Additionally, we use your email address to contact you on behalf of your friends (such as when someone sends you a personal message or notifications from a social network or other website with whom you have registered to receive such notifications). We may use this e-mail address to contact you, for things such as notifications of new products, changes to Plan/Train/Climb policies, and other types of service and/or legal notices. You may indicate your preference to stop receiving further promotional communications as further detailed below.
    </p>

    <h2>Plan/Train/Climb's Disclosure of Information</h2>
    <p>
        Personal Information. Except as otherwise stated in this Privacy Policy, we do not sell, trade, rent, or share the Personal Information that we collect with third parties, unless you ask or authorize us to do so.
    </p>
    <p>
        We may provide your Personal Information to third-party service providers who work on behalf of or with us to provide some of the services and features of Plan/Train/Climb and to help us communicate with you. Examples of such services include sending email, analyzing data, providing marketing assistance, and providing customer service. We may share some or all of your Personal Information with our third-party partners, those with whom we have a co-branding or promotional relationship, or other third-parties about whom you are otherwise notified and do not request to opt out of such sharing. We require our third-party service providers to promise not to use such non-public information except as necessary to provide the relevant services to us.
    </p>
    <p>
        Non-Identifiable Information: This Privacy Policy does not limit our use or disclosure of Non-Identifiable Information in any way, and we reserve the right to use and disclose Non-Identifiable Information to our partners, advertisers and other third parties in our discretion. Specifically, we may use any of the Non-Identifiable Information you provide or that we collect from you or third parties to assist us in recommending content or connections, and we may disclose Non-Identifiable Information to third-parties who assist us in delivering you more relevant advertising and content.
    </p>
    <p>
        Mergers or Acquisitions/Change of Control/Sale: We may share some or all of your Personal Information with any parent company, subsidiaries, joint ventures, or other companies under a common control and we will require such companies to honor this Privacy Policy.
In the event we go through a business transition such as a merger, acquisition by another company, or sale of all or a portion of its assets, your Personal Information may be among the assets transferred. You acknowledge that such transfers may occur and are permitted by this Privacy Policy, and that any acquirer of ours, or their agents, may continue to process your Personal Information as set forth in this Privacy Policy.
    </p>
    <p>
        Responding to Legal Process and Related Disclosures: We may disclose your Personal Information if we believe in good faith that such disclosure is necessary to (a) comply with laws or to respond to subpoenas, court orders, warrants or other legal demands or to establish or defend Plan/Train/Climb from legal claims; or (b) to protect and defend our rights or property, you, or third parties from fraud, abuse or violations of the Terms of Service or illegal acts; or (c) to protect the safety or integrity of Plan/Train/Climb, its users, the public or other parties as it is deemed appropriate, in our sole discretion. You hereby consent to our sharing your Personal Information under the circumstances described herein.

    </p>
        <strong>The Ability of Others to View Your Information</strong><br/>
        It is up to you to make sure you are comfortable with the information you choose to provide us and the information you choose to publish. You understand that when you use Plan/Train/Climb, certain information you post or provide through Plan/Train/Climb, such as your name, profile, comments, workouts and climbs, may be shared with other users and posted on publicly available portions of Plan/Train/Climb, including without limitation, chat rooms, brand pages, bulletin and message boards, along with other public forums. Please keep in mind that if you choose to disclose Personal Information when posting comments or other information or content through Plan/Train/Climb, this information may become publicly available and may be collected and used by others, including people outside the Plan/Train/Climb community. We will not have any obligations with respect to any information that you post to parts of Plan/Train/Climb available to others, and recommend that you use caution when giving out personal information to others in public forums online or otherwise. We may also share the information you publish with other third parties.
    </p>

    <h2>Third Party Websites and Advertising</h2>
    <p>
        Plan/Train/Climb may contain links to other websites. These linked websites have separate and independent privacy policies. We have no responsibility or liability for the content and activities of these linked websites. We encourage our users to read the privacy statements of each and every website they visit. This Privacy Policy applies solely to information collected by us through Plan/Train/Climb and does not apply to these third-party websites. The ability to access information of third-parties from Plan/Train/Climb, or links to other websites or locations, is for your convenience and does not signify our endorsement of such third-parties, their products, their services, other websites, locations or their content.
    </p>

    <h2>How Can You Opt-Out, Remove or Modify Personal Information</h2>
    <p>
        We offer you choices regarding the collection, use, and sharing of your Personal Information. When you receive promotional communications from us, you may indicate a preference to stop receiving further promotional communications from us and you will have the opportunity to "opt-out" by following the unsubscribe instructions provided in the promotional e-mail you receive or by contacting us directly at the contact information provided below.
    </p>
    <p>
        Despite your indicated email preferences, we may send you administrative emails regarding Plan/Train/Climb, including, for example, administrative confirmations, and notices of updates to our Privacy Policy if we choose to provide such notices to you in this manner.
You may change any of your profile information by editing it in the profile settings page. You may request deletion of your Personal Information by visiting <%= link_to(edit_user_registration_path, edit_user_registration_path) %>, but please note that we may be required (by law or otherwise) to keep this information and not delete it (or to keep this information for a certain time, in which case we will comply with your deletion request, only after we have fulfilled such requirements). When we delete Personal Information, it will be deleted from the active database, but may remain in our archives.
    </p>

    <h2>Feedback</h2>
    <p>
        If you provide feedback to us, we may use and disclose such feedback for any purpose, provided we do not associate such feedback with your Personal Information. We will collect any information contained in such feedback and will treat the Personal Information in it in accordance with this Privacy Policy.
    </p>

    <h2>Security</h2>
    <p>
        We are committed to protecting the security of your Personal Information. Even though we have taken significant steps to protect your Personal Information we cannot fully eliminate security risks to Personal Information. “Phishing” is an online scam that tries to steal your Personal Information. Do not ever respond to an e-mail that appears to be from us asking for your Personal Information. We will never request your user name, password, credit card information or other Personal Information through e-mail.
    </p>

    <h2>Contact and Revisions</h2>
    <p>
        If you have questions or concerns about our Privacy Policy, please contact us here <a href="<%= url_for controller: '/comments', action: 'new' %>"><%= url_for controller: '/comments', action: 'new', :only_path => false %></a>.<br/>
        This Privacy Policy is subject to changes in our discretion, and if we make any material changes in the way we use your Personal Information, we will post an alert on this page. If you object to any such changes, you must cease using Plan/Train/Climb. Continued use of Plan/Train/Climb following notice of any such changes shall indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes.
    </p>
    <!-- <p>
        <strong>Contact us at our headquarters:</strong><br/>
        <br/>
        <br/>
        <br/>

    </p> -->

</div>
