<div class="col-md-3 col-sm-6 margin_bottom">
  <div class="panel<%= event.panel_class %> event_panel" data-event-id="<%= event.id %>">
    <div class="panel-heading">
      <h3 class="panel-title"><%= event.smart_label %></h3>
    </div>
    <div class="panel-body">
      <% if event.gym_session.present? %>
        <%= event.start_date.strftime('%b %d %Y') %><br>
        <hr/>
        <%= event.duration_string %> <%= event.gym_session_string %> Session
      <% else %>
        <%= event.start_date.strftime('%b %d %Y') %> - <%= event.end_date.strftime('%b %d %Y') %><br>

        <% if event.notes.present? %>
          <hr/>
          <%= simple_format(truncate(event.notes, length: 50, separator: ' ')) %>
        <% elsif event.workout.present? %>
          <hr/>
          <%= simple_format(truncate(event.workout.description, length: 50, separator: ' ')) %>
        <% end %>

        <% if event.child_events.present? %>
          <hr/>
          <ul>
            <% event.child_events.each do |child_event| %>
              <li class="<% if child_event.completed.present? %>translucent<% end %>">
                <%= child_event.label %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
    <div class="panel-footer">
      <% unless event.gym_session.present? %>
        <% unless event.completed %>
          <%= link_to "Complete", event_complete_path(event), remote: true, class: "btn btn-success complete_button" %>
        <% end %>
        <%= link_to "Edit", edit_event_path(event), remote: true, class: "btn btn-info" %>
      <% end %>
      <%= link_to "Delete", event_delete_path(event), remote: true, class: "btn btn-danger" %>
    </div>
  </div>
</div>
