<div class="col-md-3 col-sm-6 margin_bottom">
  <div class="panel<%= event.panel_class %> event_panel" data-event-id="<%= event.id %>">
    <div class="panel-heading">
      <h3 class="panel-title"><%= event.smart_label %></h3>
    </div>
    <div class="panel-body">
      <% if event.gym_session.present? %>
        <%= event.start_date.strftime('%b %d %Y') %><br>
        <hr/>
        <%= event.duration_string %> <%= event.gym_session_string %> Session
      <% else %>
        <%= event.start_date.strftime('%b %d %Y') %><% if event.start_date != event.end_date %> - <%= event.end_date.strftime('%b %d %Y') %><% end %><br>

        <% if event.notes.present? %>
          <hr/>
          <%= simple_format(truncate(event.notes, length: 50, separator: ' ')) %>
        <% elsif event.workout.present? %>
          <hr/>
          <%= simple_format(truncate(event.workout.description, length: 50, separator: ' ')) %>
        <% end %>

        <% if event.child_events.present? %>
          <hr/>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= event.completed_child_events.count %>" aria-valuemin="0" aria-valuemax="<%= event.child_events.count %>" style="width: <%= event.percent_complete %>%">
              <span class="sr-only"><%= event.percent_complete %>% Complete (success)</span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="panel-footer">
      <% if defined?(coach_viewing) && coach_viewing.present? %>
        <%= link_to "View", event_path(event), remote: true, class: "btn btn-info" %>
      <% else %>
        <% unless event.gym_session.present? %>
          <% unless event.completed %>
            <%= link_to "Complete", event_complete_path(event), remote: true, class: "btn btn-success complete_button" %>
          <% end %>
          <%= link_to "Edit", edit_event_path(event), remote: true, class: "btn btn-info" %>
        <% end %>
        <%= link_to "Delete", event_delete_path(event), remote: true, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
