<div class="form-goup text-right">
  <% the_workout_metric = exercise_performance.workout_metric %>
  <% the_exercise_metric = the_workout_metric.exercise_metric %>
  <label class="small">
    <%= the_exercise_metric.label %>
    <% if the_exercise_metric.exercise_metric_type.slug == "weight" %>
      (<%= current_user.default_weight_unit %>s)
    <% elsif the_exercise_metric.exercise_metric_type.slug == "time" %>
      (seconds)
    <% end %>
  </label>
  <input name="exercise_performances[][workout_metric_id]" type="hidden" value="<%= the_workout_metric.id %>"/>
  <input name="exercise_performances[][id]" type="hidden" value="<%= exercise_performance.id %>"/>
  <% if the_exercise_metric.exercise_metric_type.input_field == "select" %>

    <select name="exercise_performances[][value]" class="form-control inline_block short_input" <% if defined?(disabled) && disabled.present? %>disabled="true"<% end %>>
      <% if the_exercise_metric.exercise_metric_type.slug == "hold-type" %>
        <%= options_from_collection_for_select(the_exercise_metric.exercise_metric_options, :value, :label, exercise_performance.value || the_workout_metric.value) %>
      <% elsif the_exercise_metric.exercise_metric_type.slug == "boulder-grade" %>
        <%= options_for_select(@boulder_grades, exercise_performance.value || the_workout_metric.value) %>
      <% elsif the_exercise_metric.exercise_metric_type.slug == "sport-grade" %>
        <%= options_for_select(@sport_grades, exercise_performance.value || the_workout_metric.value) %>
      <% end %>
    </select>
  <% elsif the_exercise_metric.exercise_metric_type.input_field == "range" %>
    <div class="col-sm-9 pull-right">
      <div class="row slider_container">
        <div class="col-xs-9 no_padding_right">
          <input type="range"
                 name="exercise_performances[][value]"
                 min="0"
                 max="100"
                 step="5"
                 value="<%= exercise_performance.value.present? ? exercise_performance.value : the_workout_metric.value %>"
                 class="completion_slider"
                 <% if defined?(disabled) && disabled.present? %>disabled="true"<% end %>/>
        </div>
        <div class="col-xs-3">
          <span class="slider_value_wrapper alt_font"><span class="slider_value"><%= exercise_performance.value.present? ? exercise_performance.value : the_workout_metric.value %></span>%</span>
        </div>
      </div>
    </div>

  <% else %>
      <input class="form-control inline_block short_input"
             name="exercise_performances[][value]"
             type="<%= the_exercise_metric.exercise_metric_type.input_field %>"
             value="<%= exercise_performance.value.present? ? exercise_performance.value : the_workout_metric.value %>"
             <% if the_workout_metric.value.present? %>
               placeholder="Goal: <%= the_workout_metric.value %>"
             <% end %>
             <% if defined?(disabled) && disabled.present? %>
               disabled="true"
             <% end %>
             />
  <% end %>
</div>
