<%= form_for(@event, remote: true) do |f| %>
  <%= hidden_field_tag "user_id", @user_id %>
  <div class="modal-body">
    <ul class="errors"></ul>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label "Custom Name" %><br>
          <%= f.text_field :label, class: "form-control" %>
        </div>
      </div>
      <% unless @event.id.present? && @event.macrocycle_id.present? %>
        <div class="col-sm-3">
          <div class="form-group">
            <%= f.label :workout %><br>
            <%= f.collection_select(:workout_id, @user.workouts.all, :id, :label, {prompt: "None"}, {class: "form-control workout_select", disabled: @event.id.present?}) %>
          </div>
        </div>
      <% end %>
      <% unless @event.id.present? %>
        <div class="col-sm-1">
          <br>
          <label>-OR-</label>
        </div>
      <% end %>
      <% unless @event.id.present? && @event.workout_id.present? %>
        <div class="col-sm-3">
          <div class="form-group">
            <%= f.label :macrocycle, "Plan" %><br>
            <%= f.collection_select(:macrocycle_id, @user.macrocycles.all, :id, :label, {prompt: "None"}, {class: "form-control macrocycle_select", disabled: @event.id.present?}) %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :start_date %><br>
          <%= select_month(@event.start_date.month, {field_name: "month", prefix: "start_date"}, {class: "form-control", style: "display: inline-block; width: auto;"}) %>
          <%= select_day(@event.start_date.day, {field_name: "day", prefix: "start_date"}, {class: "form-control", style: "display: inline-block; width: auto;"}) %>
          <%= select_year(@event.start_date.year, {field_name: "year", prefix: "start_date"}, {class: "form-control", style: "display: inline-block; width: auto;"}) %>
        </div>
      </div>
      <% if @event.id.present? %>
        <div class="col-sm-6">
          <div class="form-group">
            <% if @event.workout_id.present? %>
              <%= f.label :completed %><br>
              <%= f.check_box :completed %>
            <% else %>
              <%= f.label :end_date %><br>
              <%= select_month(@event.end_date.month, {field_name: "month", prefix: "end_date"}, {class: "form-control", style: "display: inline-block; width: auto;"}) %>
              <%= select_day(@event.end_date.day, {field_name: "day", prefix: "end_date"}, {class: "form-control", style: "display: inline-block; width: auto;"}) %>
              <%= select_year(@event.end_date.year, {field_name: "year", prefix: "end_date"}, {class: "form-control", style: "display: inline-block; width: auto;"}) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <% if @event.workout.present? %>
      <%= render 'form_exercises' %>
    <% end %>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <%= f.label :notes %><br>
          <%= f.text_area :notes, class: "form-control", size: "60x3" %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <% if @event.id.present? %>
      <%= link_to "Delete", event_delete_path(@event), remote: true, class: "btn btn-danger" %>
      <% if @event.workout_id.present? %>
        <%= link_to "Print", event_print_path(@event), target: "_blank", class: "btn btn-success" %>
      <% end %>
    <% end %>
    <input type="submit" class="btn btn-primary" value="Save">
  </div>
<% end %>
