<% if @users.present? %>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.smart_name, community_user_path(user.id) %></td>
      <td><%= user.created_at.strftime("%b %d, %Y") %></td>
      <td><%= user.workout_count %></td>
      <td><%= user.follower_count %></td>
      <td class="text-right">
        <% unless true_user == user || user.allow_followers.blank? %>
          <% if current_user.is_following(user.id) %>
            <%= link_to "Unfollow", community_user_unfollow_path(user.id, show_my_users:(defined?(my_users) ? my_users : false)), remote: true, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "Follow", community_user_follow_path(user.id, show_my_users:(defined?(my_users) ? my_users : false)), remote: true, class: "btn btn-info" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td colspan="5" class="text-center">Be sure to follow other users so that you can view and copy their workouts.</td>
  </tr>
<% end %>
