<div class="row">
  <div class="col-xs-6">
    <h1>My Followers</h1>
  </div>
  <div class="col-xs-6 text-right">
    <%= link_to "View My Users", community_my_users_path, class: "btn btn-info btn-lg margin_top" %>
    <%= link_to "View All Users", community_users_path, class: "btn btn-success btn-lg margin_top" %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table table-striped" id="community_my_followers">
        <thead>
          <tr>
            <th><%= sortable "name" %></th>
            <th><%= sortable "created_at", "Member Since" %></th>
            <th><%= sortable "workout_count", "Workouts" %></th>
            <th><%= sortable "follower_count", "Followers" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="community_my_followers_list">
          <%= render partial: "users", locals: {my_followers: true} %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <%= will_paginate @my_followers, :renderer => BootstrapPagination::Rails %>
  </div>
</div>
