<div class="row">
  <div class="col-xs-6">
    <h1>All Users</h1>
  </div>
  <div class="col-xs-6 text-right">
    <% if user_signed_in? %>
      <%= link_to "View My Followers", community_my_followers_path, class: "btn btn-info btn-lg margin_top" %>
      <%= link_to "View My Users", community_my_users_path, class: "btn btn-success btn-lg margin_top" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table table-striped" id="community_users">
        <thead>
          <tr>
            <th><%= sortable "name" %></th>
            <th><%= sortable "created_at", "Member Since" %></th>
            <th><%= sortable "workout_count", "Workouts" %></th>
            <th><%= sortable "follower_count", "Followers" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="community_users_list">
          <%= render "users" %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <%= will_paginate @all_users, :renderer => BootstrapPagination::Rails %>
  </div>
</div>
