<%= form_for(@microcycle, remote: true) do |f| %>
  <div class="modal-body">
    <ul class="errors"></ul>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :label, class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :microcycle_type %><br>
          <%= f.select(:microcycle_type, [['None', ''], ['Strength', 'strength'], ['Power', 'power'], ['Power Endurance', 'powerendurance'], ['Endurance', 'endurance'], ['Technique', 'technique'], ['Cardio', 'cardio']], {}, {class: "form-control type_select"}) %>
        </div>
      </div>
      <div class="col-sm-4">
        <%= f.label :duration %><br>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.number_field :duration_length, class: "form-control" %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.select(:duration_unit, [['Days', 'days'], ['Weeks', 'weeks']], {}, {class: "form-control"}) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label>Selected Workouts</label>
          <table class="selected_items table table-striped">
            <thead>
              <th>Label</th>
              <th>Type</th>
              <th></th>
            </thead>
            <tbody>
              <% @microcycle.workouts.each do |workout| %>
                <tr>
                  <td><%= workout.label %></td>
                  <td><%= workout.workout_type %></td>
                  <td><a href="javascript:void(0);" class="remove_selected_item btn btn-danger" data-item-id="<%= workout.id %>">Remove</a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= f.hidden_field :workout_ids, class: "selected_ids" %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label>Available Workouts</label>
          <table class="selectable_items table table-striped">
            <thead>
              <th>Label</th>
              <th>Type</th>
              <th></th>
            </thead>
            <tbody>
              <% @workouts.each do |workout| %>
                <tr>
                  <td><%= workout.label %></td>
                  <td><%= workout.workout_type %></td>
                  <td><a href="javascript:void(0);" class="add_selected_item btn btn-success" data-item-id="<%= workout.id %>">Add</a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <input type="submit" class="btn btn-primary" value="Save">
  </div>
<% end %>
