<div class="col-md-3 col-sm-6 margin_bottom">
  <div class="panel<%= microcycle.panel_class %>">
    <div class="panel-heading">
      <h3 class="panel-title"><%= microcycle.label %></h3>
    </div>
    <div class="panel-body">
      <% if microcycle.workouts.present? %>
        <ul>
          <% microcycle.workouts.each do |workout| %>
            <li>
              <%= workout.label %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="panel-footer">
      <%= link_to "Edit", edit_microcycle_path(microcycle), remote: true, class: "btn btn-info" %>
      <%= link_to "Delete", microcycle_delete_path(microcycle), remote: true, class: "btn btn-danger" %>
    </div>
  </div>
</div>
