<div class="<% unless defined?(columns) && columns == 2 %>col-md-3 <% end %>col-sm-6 margin_bottom">
  <div class="panel<%= goal.panel_class %>">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9">
          <h3 class="panel-title">
            <%= simple_format(truncate(goal.label, length: 22)) %>
          </h3>
        </div>
        <div class="col-xs-3 text-right">
          <span class="voting_area voting_area_button_small" data-voteable-item="Goal<%= goal.id %>">
            <%= render partial: "votes/voting_area", object: goal, as: 'voteable', locals: {version: "button_small"} %>
          </span>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="build_donut"
           data-goal-name="<%= goal.label %>"
           data-goal-value="100"
           data-user-value="<%= goal.percent_complete %>"
           data-number-decorator="%"></div>
      Deadline: <%= goal.deadline.strftime('%m/%d/%Y') if goal.deadline.present? %><br/>
      <% if goal.sub_goals.present? %>
        Subgoals:<br/>
        <ul>
          <% goal.sub_goals.each do |sub_goal| %>
            <%= render partial: 'goals/sub_goal', object: sub_goal, locals: {indent: 1, table_row: false} %>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="panel-footer text-right">
      <% if show_buttons.present? %>
        <%= link_to "Edit", edit_goal_path(goal), remote: true, class: "btn btn-info" %>
        <%= link_to "Delete", goal_delete_path(goal), remote: true, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
