<div class="col-md-3 col-sm-6 margin_bottom">
  <div class="panel<%= exercise.panel_class %>">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-9">
          <h3 class="panel-title">
            <%= link_to simple_format(truncate(exercise.label, length: 22)), exercise_path(exercise) %>
          </h3>
        </div>
        <div class="col-xs-3 text-right">
          <span class="voting_area voting_area_button_small" data-voteable-item="Exercise<%= exercise.id %>">
            <%= render partial: "votes/voting_area", object: exercise, as: 'voteable', locals: {version: "button_small"} %>
          </span>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <%= simple_format(truncate(exercise.description, length: 50, separator: ' ')) %>
    </div>
    <div class="panel-footer text-right">
      <%= link_to "Duplicate", exercise_duplicate_path(exercise), remote: true, class: "btn btn-success" %>
      <%= link_to "Edit", edit_exercise_path(exercise), remote: true, class: "btn btn-info" %>
      <%= link_to "Delete", exercise_delete_path(exercise), remote: true, class: "btn btn-danger" %>
    </div>
  </div>
</div>
