<div class="row">
  <div class="col-xs-12">
    <h1>Exercises</h1>
    <p class="lead">We've included a few common template exercises to get you started.
      You can edit them to customize the metrics that make the most sense for your training or add as many new ones as you wish.
      Most important is to customize the <strong>Hold Type</strong> options for the <strong>Deadhang</strong> exercise so that they better reflect your hangboard.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <%= form_tag("/exercises", method: "get", remote: true, class: "form-inline margin_top" ) do %>
      <strong>Filter by:</strong>
      <div class="form-group margin_left">
        <%= select_tag(:exercise_type, options_for_select([['Type', ''], ['Strength', 'strength'], ['Power', 'power'], ['Power Endurance', 'powerendurance'], ['Endurance', 'endurance'], ['Technique', 'technique'], ['Cardio', 'cardio']]), class: "form-control") %>
      </div>
      <%= submit_tag("Filter", class: "btn btn-default margin_left") %>
    <% end %>
  </div>
  <div class="col-xs-4 text-right">
    <%= link_to raw("<span class='glyphicon glyphicon-plus'></span> Add Exercise"), new_exercise_path, remote: true, class: "btn btn-success btn-lg" %>
  </div>
</div>

<div class="exercise_list margin_top">
  <%= render "index" %>
</div>

<!-- Modal -->
<div class="modal fade" id="exercise_modal" tabindex="-1" role="dialog" aria-labelledby="exerciseModal">

</div>
