<% version = defined?(version) ? version : "block" %>
<% if version == "inline" %>
  <%= link_to raw("<span class='glyphicon glyphicon-thumbs-up'></span>"), new_vote_path(voteable_id: voteable.id, voteable_type: voteable.class.name), remote: true, class: "#{'upvoted' if user_signed_in? && Vote.item_upvoted_by_user(voteable, current_user.id).present?} #{'disable_click' if !user_signed_in?}" %>
  <%= pluralize(Vote.item_score(voteable), 'point') %>
<% elsif version == "button" %>
  <%= link_to raw("<span class='glyphicon glyphicon-thumbs-up'></span>"), new_vote_path(voteable_id: voteable.id, voteable_type: voteable.class.name), remote: true, data: { toggle: 'tooltip', placement: 'top' }, title: "#{pluralize(Vote.item_score(voteable), 'point')}", class: "btn btn-default #{'upvoted' if user_signed_in? && Vote.item_upvoted_by_user(voteable, current_user.id).present?} #{'disable_click' if !user_signed_in?}" %>
<% elsif version == "button_small" %>
  <%= link_to raw("<span class='glyphicon glyphicon-thumbs-up'></span>"), new_vote_path(voteable_id: voteable.id, voteable_type: voteable.class.name), remote: true, data: { toggle: 'tooltip', placement: 'left' }, title: "#{pluralize(Vote.item_score(voteable), 'point')}", class: "btn btn-xs btn-default #{'upvoted' if user_signed_in? && Vote.item_upvoted_by_user(voteable, current_user.id).present?} #{'disable_click' if !user_signed_in?}" %>
<% else %>
  <%= link_to raw("<span class='glyphicon glyphicon-thumbs-up'></span>"), new_vote_path(voteable_id: voteable.id, voteable_type: voteable.class.name), remote: true, class: "block #{'upvoted' if user_signed_in? && Vote.item_upvoted_by_user(voteable, current_user.id).present?} #{'disable_click' if !user_signed_in?}" %>
  <%= Vote.item_score(voteable) %>
<% end %>
