<div class="row">
  <div class="col-xs-12">
    <h1>
      <% if current_user == @user %>
        My Progress
      <% else %>
        <%= @user.smart_name %>'s Progress
      <% end %>
    </h1>
  </div>
</div>
<%= form_tag("", method: "get", class: "form-inline margin_top progress_form" ) do %>
  <div class="row large_margin_top margin_bottom">
    <div class="col-xs-12">
      <div class="form-group">
        <strong>Workout: </strong>
        <%= select_tag("workout_id", options_from_collection_for_select(@user.workouts.all, "id", "label", @workout.present? ? @workout.id : 0), {prompt: "Choose Workout", class: "form-control workout_select"}) %>
      </div>
      <% if @workout.present? %>
        <div class="form-group margin_left workout_exercise_select_area" style="vertical-align: text-top;">
          <strong class="valign_top">Exercises: </strong>
          <%= select_tag("workout_exercise_ids", options_from_collection_for_select(@workout.useful_workout_exercises, "id", "useful_label", @filter_workout_exercise_ids), {multiple: true, class: "form-control workout_exercise_select"}) %>
        </div>
      <% end %>
      <% if @user.should_show_climb_data? %>
        <div class="form-group margin_left">
          <label>
            <%= check_box_tag("show_climbs", "true", @show_climbs) %>
            Overlay Climbs
          </label>
        </div>
      <% end %>
      <% if @date_lower.present? && @date_upper.present? %>
        <div class="form-group margin_left text-right" style="vertical-align: top;">
          <div class="margin_bottom">
            <%= label_tag(:climb_type, "From:") %>
            <%= select_month(@date_lower, {field_name: "month_lower"}, {class: "form-control"}) %>
            <%= select_day(@date_lower, {field_name: "day_lower"}, {class: "form-control"}) %>
            <%= select_year(@date_lower, {field_name: "year_lower"}, {class: "form-control"}) %>
          </div>
          <div class="margin_bottom">
            <%= label_tag(:climb_type, "To:") %>
            <%= select_month(@date_upper, {field_name: "month_upper"}, {class: "form-control"}) %>
            <%= select_day(@date_upper, {field_name: "day_upper"}, {class: "form-control"}) %>
            <%= select_year(@date_upper, {field_name: "year_upper"}, {class: "form-control"}) %>
          </div>
        </div>
      <% end %>
      <%= submit_tag("Show", name: nil, class: "btn btn-primary margin_left") %>
    </div>

  </div>
<% end %>


<div class="row large_margin_top margin_bottom">
  <div class="col-xs-12">
    <div class="progress_area">
      <%= render "progress" %>
    </div>
  </div>
</div>
